#mainNav ul li {
<<<<<<< HEAD
	  display: inline;
      float: left;
      width: 100%;
=======
	  display: inline !important;
      float: left !important;
      width: 100% !important;
>>>>>>> master
}