#mainNav {
	width: 190px !important;

	ul {
		margin-top: 0 !important;
	}
}

#footerCopyright h4 {
	line-height: 20px;
}

#footerLinks h4 {
	line-height: 20px;
}

.tcheight {
	position:absolute;
}

.privacyheight {
	position:absolute;
}