/* FONTS BEGIN
---------------------------------------------------------------------------------*/
@font-face {font-family: 'HalisGR-Bold';
font-weight:bold;
font-style:normal;
src: url(/assets/webfonts/272BEB_0_0.eot);
src: url(/assets/webfonts/272BEB_0_0.eot?#iefix) format('embedded-opentype'),
url(/assets/webfonts/272BEB_0_0.svg) format('svg'),
url(/assets/webfonts/272BEB_0_0.ttf) format('truetype');
}

@font-face {
  font-family: 'HalisGrotesqueBlack';
  font-weight: bold;
  font-style: normal;
  src: url(/assets/webfonts/26F6A9_0_0.eot); 
  src: url(/assets/webfonts/26F6A9_0_0.eot) format('embedded-opentype'),
  url(/assets/webfonts/26F6A9_0_0.woff) format('woff'),
  url(/assets/webfonts/26F6A9_0_0.ttf) format('truetype'),
  url(/assets/webfonts/26F6A9_0_0.svg) format('svg');
}
 
  
@font-face {
  font-family: 'HalisGrotesqueBlackItalic';
  font-weight: bold;
  font-style: italic;
  src: url(/assets/webfonts/26F6A9_1_0.eot);
  src: url(/assets/webfonts/26F6A9_1_0.eot?#iefix) format('embedded-opentype'),
  url(/assets/webfonts/26F6A9_1_0.woff) format('woff'),
  url(/assets/webfonts/26F6A9_1_0.ttf) format('truetype'),
  url(/assets/webfonts/26F6A9_1_0.svg#wf) format('svg');
}
 
  
@font-face {
  font-family: 'HalisGrotesqueItalic';
  font-weight: normal;font-style: italic;
  src: url(/assets/webfonts/26F6A9_2_0.eot);
  src: url(/assets/webfonts/26F6A9_2_0.eot?#iefix) format('embedded-opentype'),
  url(/assets/webfonts/26F6A9_2_0.woff) format('woff'),
  url(/assets/webfonts/26F6A9_2_0.ttf) format('truetype'),
  url(/assets/webfonts/26F6A9_2_0.svg#wf) format('svg');
}
 
  
@font-face {
  font-family: 'HalisGrotesque';
  font-weight: normal;
  font-style: normal;
  src: url(/assets/webfonts/26F6A9_3_0.eot);
  src: url(/assets/webfonts/26F6A9_3_0.eot?#iefix) format('embedded-opentype'),
  url(/assets/webfonts/26F6A9_3_0.woff) format('woff'),
  url(/assets/webfonts/26F6A9_3_0.ttf) format('truetype'),
  url(/assets/webfonts/26F6A9_3_0.svg#wf) format('svg');
}
 
  
@font-face {
  font-family: 'HalisGR-Thin';
  src: url(/assets/webfonts/26F6A9_4_0.eot);
  src: url(/assets/webfonts/26F6A9_4_0.eot?#iefix) format('embedded-opentype'),
  url(/assets/webfonts/26F6A9_4_0.woff) format('woff'),
  url(/assets/webfonts/26F6A9_4_0.ttf) format('truetype'),
  url(/assets/webfonts/26F6A9_4_0.svg#wf) format('svg');
}
 
  
@font-face {
  font-family: 'HalisGR-ThinItalic';
  src: url(/assets/webfonts/26F6A9_5_0.eot);
  src: url(/assets/webfonts/26F6A9_5_0.eot?#iefix) format('embedded-opentype'),
  url(/assets/webfonts/26F6A9_5_0.woff) format('woff'),
  url(/assets/webfonts/26F6A9_5_0.ttf) format('truetype'),
  url(/assets/webfonts/26F6A9_5_0.svg#wf) format('svg');
}


@font-face {
  font-family: 'Lintel-Italic';
  src: url(/assets/webfonts/26AD8C_0_0.eot);
  src: url(/assets/webfonts/26AD8C_0_0.eot?#iefix) format('embedded-opentype'),
  url(/assets/webfonts/26AD8C_0_0.woff) format('woff'),
  url(/assets/webfonts/26AD8C_0_0.ttf) format('truetype');
}
 
  
@font-face {
  font-family: 'Lintel-Regular';
  src: url(/assets/webfonts/26AD8C_1_0.eot);
  src: url(/assets/webfonts/26AD8C_1_0.eot?#iefix) format('embedded-opentype'),
  url(/assets/webfonts/26AD8C_1_0.woff) format('woff'),
  url(/assets/webfonts/26AD8C_1_0.ttf) format('truetype');
}


h1 {
  font-family: 'HalisGR-Bold';
  color: #8fa0ad;
  font-size: 21px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: bold;
}

#who h1 {
  font-size: 16px;
  padding-top: 4px;
}

h2 {
  font-family: 'HalisGrotesque';
  color: #bdc1c7;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
}

#who h2 {
  padding-top: 15px;
  padding-bottom:10px;
}

h3 {
  font-family: 'Lintel-Regular';
  color: #8fa0ad;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}

#who h3 {
  font-size: 14px;
}

h4 {
  font-family: 'HalisGrotesqueBlack';
  color: white;
  font-size: 10px;
  text-transform: uppercase;
}

h5 {
  font-family: 'HalisGR-Bold';
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight:normal;
}

h6 {
  font-family: 'HalisGR-Thin';
  font-size: 17px;
  color: #8fa0ad;
  margin: 0;
  padding: 0;
  line-height: 22px;
}

p {
  margin-bottom: 10px;
}